<div class="card-block">
  <div class="card-group">
      <img src="{{flag}}" alt="{{name}}">
  </div>
  <div class="card-body">
    <ul class="card-body-list">
      <li class="card-body-item">{{name}}</li>
    </ul>
  </div>
</div>